# This is for Python Basic Operations

In [1]:
import numpy as np

In [2]:
# Variables and String operations

In [4]:
a = 5

a

5

In [5]:
a+2

7

In [6]:
a*2

10

In [7]:
a**2

25

In [8]:
a**3

125

In [9]:
a%2

1

In [10]:
a/2

2.5

In [11]:
a/float(2)

2.5

In [12]:
# Example of Strings

In [20]:
my_string = 'python'

my_string

'python'

In [21]:
my_string * 2

'pythonpython'

In [24]:
my_string + ' ' + 'is a great language'

'python is a great language'

In [32]:
'on' in my_string

True

In [41]:
my_string[2:5]

'tho'

In [42]:
my_string

'python'

In [43]:
my_string.upper()

'PYTHON'

In [44]:
my_string.lower()

'python'

In [64]:
my_string_1 = 'pythonn is nnn'

In [65]:
my_string_1

'pythonn is nnn'

In [66]:
my_string_1.strip()

'pythonn is nnn'

In [67]:
my_string_1.count('n')

5

In [68]:
my_string_1.replace('p','w')

'wythonn is nnn'